@model TaskRecordingSystem.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Create Employee</h3>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div>

                                    @*<div class="myclass form-group">
                <a class="nav-link text-wrap breadcrumb " asp-area="" asp-controller="Addresses" asp-action="Create">
                    Click Here To Add Address
                </a>
            </div>*@
                                    <div class="form-group">
                                        <label asp-for="AddressId" class="control-label"></label>
                                        <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label asp-for="GenderId" class="control-label"></label>
                                    <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="control-label"></label>
                                    <input asp-for="DateOfBirth" class="form-control" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateOfJoin" class="control-label"></label>
                                    <input asp-for="DateOfJoin" class="form-control" />
                                    <span asp-validation-for="DateOfJoin" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MaritalStatusId" class="control-label"></label>
                                    <select asp-for="MaritalStatusId" class="form-control" asp-items="ViewBag.MaritalStatusId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DepartmentId" class="control-label"></label>
                                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="JobPositionId" class="control-label"></label>
                                    <select asp-for="JobPositionId" class="form-control" asp-items="ViewBag.JobPositionId"></select>
                                </div>
                                @*<div class="myclass form-group">
            <a class="nav-link text-wrap breadcrumb" asp-area="" asp-controller="JobPositions" asp-action="Create">
                Click Here To Add Job-Position
            </a>
        </div>*@
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </section>

</div>

